</main>
<script src="https://developer.edamam.com/attribution/badge.js"></script>
<footer>
    <div class="container py-3 mt-4 mb-2">
        <div class="pb-3 mb-3" id="edamam-badge" data-color="white"></div>
        <p class="text-center">Copyright © 2023</p>
    </div>
  </footer> 