.card{
    background-size: 100%;
}

.text-bg{
    background-color: rgba(0, 0, 0, 0.4);
}

#content{
    display: none;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray ;
    transition: opacity 0.75s, visibility 0.75s;
}

/* adding the spinner using ::after */
.spinner{
    margin-top: 10px;
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: purple;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
