body{
    background-color: #26543e;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
}

.contrast{
    background-color: black;
    opacity: 0.7;
    border-radius: 20px;
}

h1, h2, p{
    color: #FDE4C3;
}

input{
    width: 70%;
}

.btn{
    color: #FDE4C3;
    border-color: #FDE4C3;
    width: 30%;
    font-size: 20px;
}

.btn:hover{
    color: #2F2F2F;
    background-color: #FDE4C3;
}

.card{
    background-size: 100%;
    border-color: #FDE4C3;
}

.text-bg{
    background-color: rgba(0, 0, 0, 0.4);
}

#content{
    display: none;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray ;
}

/* adding the spinner using ::after */
.spinner{
    margin-top: 10px;
    width: 75px;
    height: 75px;
    border: 10px solid #dddddd;
    border-top-color: purple;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

